@import '@daks.dev/svelte.sdk/fonts/open-sans/variable';
@import '@daks.dev/svelte.sdk/tailwind';

@layer base {
  :root {
    --navbar-height: 44px;
  }

  body {
    @apply -lg:snap-start relative
           bg-neutral-100 font-normal
           text-gray-800 transition-colors
           duration-300 ease-in-out dark:bg-gray-800
           dark:text-neutral-200;
  }

  h1 {
    @apply sm:text-2.5xl lg:text-3.5xl
           text-2xl uppercase tracking-wide text-gray-500
           dark:text-gray-400 md:text-3xl;
  }
  section h1 {
    @apply text-1.5xl md:text-2.5xl !text-accent sm:text-2xl
           lg:text-3xl;
  }

  h2 {
    @apply text-1.5xl
           lg:text-2.5xl tracking-wide md:text-2xl;
  }
  section h2 {
    @apply text-1.5xl text-gray-600
           dark:text-gray-300 lg:text-2xl;
  }

  h3 {
    @apply text-1.5xl lg:text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  hr {
    @apply dark:border-gray-700;
  }
}

@layer utilities {
  .min-h-screen--navbar {
    min-height: calc(100vh - var(--navbar-height));
  }
  .max-h-screen--navbar {
    max-height: calc(100vh - var(--navbar-height));
  }

  .snap-start,
  .snap-center {
    scroll-margin-top: var(--navbar-height);
  }

  .transition-easy {
    @apply transition duration-300 ease-in-out;
  }

  ul.pseudo {
    @apply list-none pl-0 indent-0;
  }
  ul.pseudo li {
    @apply before:text-brand relative
           ml-6
           before:absolute before:-left-6 before:-top-0.5
           before:font-bold before:content-['\25B7'];
  }

  .title {
    @apply after:content-null after:bg-accent after:mt-2
           after:block after:h-[5px]
           after:w-[132px];
  }
}

main,
[role='main'] {
  @apply mb-8 flex flex-col;
  padding-top: var(--navbar-height);
}
main > header,
[role='main'] > header {
  @apply mb-8 pt-4 sm:pt-5
         md:pt-8 lg:mb-12;
}

/* home */
.text-shadow--home {
  text-shadow: 7px 7px 14px #777;
}
.dark .text-shadow--home {
  text-shadow: 7px 7px 14px #000;
}
.bg--pattern {
  @apply bg-[url(/assets/images/patterns/linen.png)] dark:bg-none;
}

/* laboratory-support */
.table--custom tr {
  @apply border even:bg-gray-200/70 dark:border-gray-700 dark:even:bg-gray-700/30;
}
.table--custom th {
  @apply p-2 font-semibold sm:p-2;
}
.table--custom td {
  @apply border p-1 dark:border-gray-700 sm:p-2;
}

/* Yandex */
.ymaps--left-copyright .ymaps-2-1-79-copyright {
  float: left;
}
